/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital@1&family=Roboto:wght@300;700&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Andada+Pro:ital@1&display=swap'); */
.heading1{
    margin-top: 8vh;
  width: 100%;
  height: 50vh;
  text-align: center;
  box-sizing: border-box;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap:5%;
 align-items: center;
 text-align: left;
  
  background-repeat: no-repeat;
}
.bun{
  box-shadow: 1px 1px 1px 1px #888888;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
  border: 1px ;
 
}

.teamup{
    font-size:55px;
    color:black;
    /* font-family: 'Mulish', sans-serif;
font-family: 'Roboto', sans-serif; */

}
.content{
    font-size: large;
  /* font-family: 'Mulish', sans-serif;
font-family: 'Roboto', sans-serif; */
}

@media only screen and (max-width: 768px) {
    .teamup{
        font-size:25px;
    }
}


