.mainHead {
  align-content: center;
  /* margin-top: 10vh; */

}


.form {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  background-color: #b8c6db;
  background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
  width:75%;
  height:75vh;
  margin: auto;
  margin-top: 8vh;
  justify-content: space-around;
}
.attribute {
  display: flex;
  color: black;
  gap: 5%;
}

label {
  font-size: x-large;
  width: 30%;
}

.select {
  width: 100%;
}
