.body {
  margin: 0%;
  padding: 0%;
}

.boxe {
  margin: auto;
  margin-top: 20vh;
  width:40%;
  height:50vh;
  box-shadow: 10px 10px 10px 10px #888888;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap:20px;
}
.btn1 {
  display: flex;
  box-sizing: border-box;
  width: 35%;
  align-self: center;
  background-color: #4285f4;
  box-shadow: 5px 5px 6px 6px #888888;
  gap:5%;

}
.image {
  box-sizing: border-box;
  padding: 2px;
  order: 1;
}
.lbtn{
  width:100%;
  /* display:block; */
  font-size: medium;
  border:0px;
  order:2;
  text-align: left;
  background-color: rgba(0,0,0,0);
  color: white;
}


.image img {
  width: 100%;
  height: 100%;
  float: right;
  
  background-color: white;

  justify-content: right;
}
@media only screen and (max-width: 1600px) {
.btn1 {
  box-sizing: border-box;
 
  height: fit-content;
  width: 60%;
  font-size: small;
  align-self: center;
  background-color: #4285f4;
  box-shadow: 5px 5px 6px 6px #888888;
  display: flex;
  gap:10%;
  
}
}
@media only screen and (max-width: 875px) {
  .boxe{
    width:60%;
  }
  /* .btn1{
    width:40%;
  } */
  button{
  font-size: small;
}


}
@media only screen and (max-width: 500px) {
  .boxe{
    width:90%;
  }
  .btn1{
  font-size: small;
  width:75%;
}


}

