.body {
  margin: 0%;
  padding: 0%;
}
.container1 {
  width: 100%;
  height: 100vh;
  display: flex;
}
.box {
  box-sizing: border-box;
  border: 0.5px solid grey;
  width: 40%;
  margin: auto;
  height: 50vh;
  display: flex;
  justify-content: center;
  box-shadow: 2px 2px 2px 2px #888888;
    gap:10%;
 
  align-self: center;
}
.btn1 {
  box-sizing: border-box;

  height: fit-content;
  width: 40%;
  align-self: center;
  background-color: #4285f4;
  box-shadow: 5px 5px 6px 6px #888888;
  display: flex;
  gap:5%;
}
.image {
  box-sizing: border-box;
  padding: 2px;
  order: 1;
   /*border: 0.5px solid grey; */

}
button{
  font-size: medium;
}
.text {
  align-self:center;
  justify-content: center;
  order: 2;
  /* border: 0.5px solid grey; */
  margin: auto;
}

.text a {
  text-decoration: none;
  font-size: small;
  font-family: italic;
  color: white;
  text-align: center;
  font-family: "Roboto", sans-serif;

}

.image img {
  width: 100%;
  height: 100%;
  float: right;
  
  background-color: white;

  justify-content: right;
}
@media only screen and (max-width: 1600px) {
.btn1 {
  box-sizing: border-box;
 
  height: fit-content;
  width: 75%;
  font-size: small;
  align-self: center;
  background-color: #4285f4;
  box-shadow: 5px 5px 6px 6px #888888;
  display: flex;
  gap:10%;
  
}
}
@media only screen and (max-width: 800px) {
  .box{
    width:50%;
  }
  button{
  font-size: small;
}


}

