
.modal{
    position: fixed;
  top: 50%;
  left: 50%;
  background-color: #ffffff;
  transform: translate(-50%,-50%);
  width: 50%;
  height: 50vh;
  padding: 10px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

button{
  cursor: pointer;
}
button:disabled {
  
  opacity:0.6;
}
h4{
  color: grey;
  font-weight: 100;
}
@media only screen and (max-width: 800px) {
  .modal {
    width:90%;
    height:50vh;
  }
  h4{
    font-size: medium;
  }
  h5{
    font-size: small;
  }
}
@media only screen and (max-width: 280px) {
  .modal {
    width:90%;
    height:50vh;
  }
  h4{
    font-size: smaller;
  }
  h5{
    font-size: x-small;
  }
}