* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 8vh;
  background-color: #1BA098;
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);

}
a:-webkit-any-link {
  text-decoration: none;
  color: inherit;
}
ul li {
  text-decoration: none;
  list-style: none;
}
ul li:hover {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  color: #FCE38A;
}
.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}
.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.logo {
  margin-right: auto;
  text-align: center;
  width: 10%;
  color: white;
}
.list {
  display: flex;
  width: 90%;
  height: 100%;
  justify-content: flex-end;
  gap: 5%;
  align-items: center;
}
ul li{
  color:white;
}

.lines {
  display: flex;
  flex-direction: column;
  height: 50%;
  width: 30px;
  margin-left: auto;
  display: none;
  cursor: pointer;
  justify-content: center;
  margin-right: 5%;
  box-sizing: border-box;
}
.profilelink:hover {
  background-color: #FCE38A;
  border-top: 0px;
  border-bottom: 0px;
  border-left: 1px solid #FCE38A;
  border-right: 1px solid #FCE38A;
}
.line {
  width: 100%;
  height: 1px;
  background-color: white;
  margin-top: 1px;
  margin-bottom: 2px;
  margin-left: 5px;
}
.profile:hover {
  border: 0px solid #FCE38A;
}
.profile {
  width: 20%;
  display: flex;
  justify-content: center;
}
.profilelinks {
  background-color: rgb(27, 160, 152,0.9);
  box-sizing: border-box;
  position: absolute;
  left:70%;
  width: 30%;
  top: 8vh;
  display: flex;
  flex-direction: column;
  height: 25vh;
  justify-content: space-evenly;
  display: none;
}
.profilelinks div a {
  width: 100%;
  text-align: center;
  display: block;
  text-decoration: none;
  letter-spacing: 1px;
  color: white;
  font-size: large;
}
.dropbtn {
  display: block;
  height: 100%;
  width: 50%;
  font-size: large;
  color: white;
  background-color: rgba(0, 0, 0, 0);
  border: 0px;
}
.dropbtn i {
  margin-bottom: 3%;
  margin-left: 10%;
}
#a {
  display: none;
}
/* .profile:hover .profilelinks {display: flex;} */
.profile:hover .dropbtn {
  color: #FCE38A;
}
.dropbtn{
  color: #555;
}
@keyframes mymove {
  from {
    right: -30%;
  }
  to {
    right: 0%;
  }
}
@keyframes mymove1 {
  from {
    right: 0%;
  }
  to {
    right: -50%;
  }
}
@media only screen and (max-width: 768px) {
  .list {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    flex-direction: column;
    justify-content: flex-start;
    width: 80%;
    background-color: rgb(27, 160, 152,0.9);
    gap: 10%;
    
  }


  .lines {
    display: flex;
  }
  .line {
    width: 15px;
    height: 1px;
    background-color: white;
  }
  .logo {
    text-align: center;
  }
  .profile {
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    align-items: center;
  }
  .dropbtn {
    text-align: center;
    height: 3vh;
  }
  .profilelink{
    display: block;
 
   
 
  }
  .profilelinks {
    order:2;
    margin-top: 15px;
    position: static;
    width: 100%;
    
  }
  #a {
    display: flex;
  }
  #b {
    display: none;
  }
  /* .profile:hover .profilelinks {display: flex;} */
}
width
::-webkit-scrollbar {
  width: 15px;
  background-color: transparent;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
  width: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(1, 1, 1, 0.1);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
