* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 70px;
  background-color: #1ba098;
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  z-index:9999;
}
a:-webkit-any-link {
  text-decoration: none;
  color: inherit;
}
ul li {
  text-decoration: none;
  list-style: none;
}
.colorw {
  color: aliceblue;
}
ul li:hover {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  color: #fce38a;
}
.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}
.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.logo {
  margin-right: auto;
  text-align: center;
  width: 10%;
  color: white;
}
.list {
  display: flex;
  width: 90%;
  height: 100%;
  justify-content: flex-end;
  gap: 5%;
  align-items: center;
}

.lines {
  display: flex;
  flex-direction: column;
  height: 50%;
  width: 30px;
  margin-left: auto;
  display: none;
  cursor: pointer;
  justify-content: center;
  margin-right: 5%;
  box-sizing: border-box;
}
.profilelink:hover {
  background-color: #fce38a;
  border-top: 0px;
  border-bottom: 0px;
  border-left: 1px solid #fce38a;
  border-right: 1px solid #fce38a;
}
.line {
  width: 100%;
  height: 1px;
  background-color: white;
  margin-top: 1px;
  margin-bottom: 2px;
  margin-left: 5px;
}
.profile:hover {
  border: 0px solid #fce38a;
}
.profile {
  width: 20%;
  display: flex;
  justify-content: center;
}
.profilelinks {
  background-color: rgb(27, 160, 152, 0.9);
  box-sizing: border-box;
  position: absolute;
  left: 70%;
  width: 30%;
  top: 70px;
  display: flex;
  flex-direction: column;
  height: 200px;
  justify-content: space-evenly;
  display: none;
}
.profilelinks div a {
  width: 100%;
  text-align: center;
  display: block;
  text-decoration: none;
  letter-spacing: 1px;
  color: white;
  font-size: large;
}
.dropbtn {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  font-size: large;
  color: white;
  background-color: rgba(0, 0, 0, 0);
  border: 0px;
}
.dropbtn i {
  margin-left: 15px;
  align-self: center;
}
#a {
  display: none;
}
.profilelink {
  display: block;
  box-sizing: border-box;
  padding-top: 10px;
  height: 50px;
}
.profilelink:hover {
  color: #fce38a;
  border:0px;
}
/* .profile:hover .profilelinks {
  display: flex;
} */
.profile:hover .dropbtn {
  color: #fce38a;
  border:0px;
}
.dropbtn {
  color: #555;
}
@keyframes mymove {
  from {
    right: -30%;
  }
  to {
    right: 0%;
  }
}
@keyframes mymove1 {
  from {
    right: 0%;
  }
  to {
    right: -50%;
  }
}

@media only screen and (max-height: 567px) {
  .list{
    gap: 50px;
  }
  .int{
    margin-bottom: 150px;
  }
}
@media only screen and (max-width: 768px) {
  .list {
    display: none;
    position: absolute;
    right: 0px;
    top: 70px;
    height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
    width: 80%;
    background-color: rgb(27, 160, 152, 0.9);
    gap: 40px;
    overflow: scroll;
    z-index:9;
    
    
  }


  .lines {
    display: flex;
  }
  .line {
    width: 15px;
    height: 1px;
    background-color: white;
  }
  .logo {
    text-align: center;
  }
  .profile {
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    align-items: center;
  }
  .dropbtn {
    text-align: center;
    margin-left: 20px;
    height: max-content;
  }
  .profilelink {
    display: block;
  }
  .profilelinks {
    order: 2;
    margin-top: 15px;
    position: static;
    width: 100%;
  }
  #a {
    display: flex;
  }
  #b {
    display: none;
  }
  /* .profile:hover .profilelinks {display: flex;} */
}
::-webkit-scrollbar-button {
  height: 120px;
}