/* @import url('https://fonts.googleapis.com/css2?family=B612&display=swap'); */
.containerr{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 15vh;
    width: 75%;
    box-shadow: 8px  8px 16px 0 rgba(0,0,0,0.2);
    background-color: #FFFAFA;
    gap:20px;
 
}
.contentr{
    display: flex;
    flex-direction: column;
    width:100%;
    /* border-bottom:1px solid rgba(0,0,0,0.2); */
    padding:10px;
    gap:10px;
     word-break: break-word;
    
}
.heading{
    font-size: large;
    font-weight: 600;
    color:grey;

    /* font-family: 'B612', sans-serif; */
}
.matter{
    font-size: medium;
    font-weight: 400;
    /* font-family: 'B612', sans-serif; */
}
a.rtfLink{
    color:blue;
    text-decoration:underline;
}
a.rtfPhone{
    color:blue;
    text-decoration:underline;
}
a.rtfEmail{
    color:blue;
    text-decoration:underline;
}

.containerr:hover {
  box-shadow: 0 16px 32px 0 rgba(0,0,0,0.2);
}
.filel{
    display: block;
    text-align: center;
    height:"10px";
    box-shadow: 3px 3px 3px rgba(0,0,0,0.2);
    padding: 5px;
    border:1px solid rgba(0,0,0,0.2)
}
.filel:hover{
    cursor: pointer;
    box-shadow: 8px  8px 8px 0 rgba(0,0,0,0.2);
}
@media only screen and (max-width: 800px) {
    .containerr{
        width: 90%;
    }
}
