.each-fade {
  display: flex;
  width: 100%;
}

.each-fade > div {
  width: 75%;
  z-index: -1;
}

.each-fade > div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  margin-left:20%;

}
.react-slideshow-wrapper.slide{
    z-index: -1;
}
.react-slideshow-container {
    z-index: -1;
    
}
/* .each-fade p {
  width: 25%;
  height: 100%;
  font-size: 1em;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 0;
  background: #adceed;
} */
.slideshow{
  width:60%;
  height:80%;
  z-index: -1;
  /* margin-top: 70px; */
  /* border:1px solid red; */
  align-self: center;
  /* box-shadow:2px 2px 2px 2px #888888; */
  margin-right: 25px;
}
.slidepic{
  width:100%;
  height:60%;
  /* border: 1px solid red; */
}
@media only screen and (max-width: 1000px) {
    .slideshow{
      width:90%;
      height:40%;
      background-color: #def2f1;
      margin-right: 0px;
      box-shadow:2px 2px 2px 2px #888888;
      
    }
}
