@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;200;300;400&display=swap');
*{
  margin: 0px;
  padding:0px;
  font-family: 'Lato', sans-serif;
}
body{
  margin: 0%;
  padding:0%;
}
